<body class="bg-home">
<div class="container">
	<div class="welcome-wrapper">
		<div class="title"><em>blabber.</em></div>
		<div class="enter-bx">
		<h1>Log In</h1>
		<%= form_tag "sign_in" do %>
		  <div class="f-label"><%= label_tag :username%></div>
		  <div class="f-field"><%= text_field_tag :username %><div>
		  <div class="f-label"><%= label_tag :password%><div>
		  <div class="f-field"><%= password_field_tag :password %><div>
		  <%= submit_tag "Log In" %>
		<% end %>
		</div>
	</div>
</body>
