<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |error| %>
      <p><%= error %></p>
      <% end %>
  <% end %>
	  <div class="f-label"><%=f.label :username %></div>
	  <div class="f-field"><%=f.text_field :username %></div>
    <div class="f-label"><%=f.label :password %></div>
    <div class="f-field"> <%=f.password_field :password %></div>
  	<div class="create-user"><%=f.submit%></div>

<% end %>