<body class="bg-other">

<% if session[:user_id] == @user %>
  <p><%= link_to 'Edit Profile', edit_user_path(current_user) %></p>
<% end %>

<div class="feed-wrapper">
  <h3><%= @user.username %>'s blabs:</h3>
    <% @posts.reverse_each do |post| %>
    <div class="post-wrapper">
      <div class="post">
        <%= post.body %>
      </div>
      <% if session[:user_id] == post.user_id %>
        <div class="edit_delete">
          <%= link_to 'Edit Post', edit_post_path(post.id) %><br>
          <%= link_to 'Delete Post', post_path(post.id), method: :delete, data: {confirm: 'Are you sure?'} %>
        </div>
      <% end %>
      <div class="comments-form">
        <% if session[:user_id] %>
          <h5>Leave a comment:</h5>
          <%= form_for [post, Comment.new] do |f| %>
            <%= f.text_area :body, :id => "comment-bx" %>
            <%= f.submit %>
          <% end %>
        <% else %>
        <p>Please <%=link_to 'Sign In', sign_in_path%> to write a comment.</p>
        <% end %>
      </div>

      <div class="comments-list">
        <% post.comments.each do |comment| %>
          <h5><%= comment.user.username %>:</h5>
          <p><%= comment.body %></p>
          <% if session[:user_id] == @user %>
            <%= link_to 'Delete Comment', comment_path(post.id), method: :delete, data: {confirm: 'Are you sure?'} %>
          <% end %>
        <% end %>
      </div>
    </div>
    <% end %>
</div>
</body>